{{!-- Our homepage to reneder all the movies preview --}}
<div class="container text-center">
  <h1>Movies</h1>
{{> navlinks}}
</div>

 

<div class="card-group">
  {{!-- Use each function to render each movie data --}}
  {{#each movies as |movie|}}
    <div class="mb-3">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="{{movie.imageURL}}"
          alt="{{movie.title}} picture"
        />
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p style="  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;" class="card-text">{{movie.movieSummary}}</p>
          <a href="/movie/{{movie.id}}" class="btn btn-primary">Details + Reviews</a>
        </div>
      </div>

    </div>
  {{/each}}
</div>
