{{!-- Our homepage to reneder all the movies preview --}}
<div class="container text-center">
  <h1>Movies</h1>
{{> navlinks}}
</div>

<div class="container gray-section homepage-c">
  {{!-- Use each function to render each movie data --}}

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      {{#each movies1 as |movie1|}}
      <a href="/movie/{{movie1.id}}" class="btn home-cover-links">
      <img src="{{movie1.imageURL}}" class="d-block homepage-covers" alt="{{movie1.title}}">
      </a>
      {{/each}}
    </div>
        <div class="carousel-item">
      {{#each movies2 as |movie2|}}
      <a href="/movie/{{movie2.id}}" class="btn home-cover-links">
      <img src="{{movie2.imageURL}}" class="d-block homepage-covers" alt="{{movie2.title}}">
      </a>
      {{/each}}
    </div>
            <div class="carousel-item">
      {{#each movies3 as |movie3|}}
      <a href="/movie/{{movie3.id}}" class="btn home-cover-links">
      <img src="{{movie3.imageURL}}" class="d-block homepage-covers" alt="{{movie3.title}}">
      </a>
      {{/each}}
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  
    {{!-- <div class="row text-center pt-4">
      <div>
        {{#each movies as |movie|}}
        <a href="/movie/{{movie.id}}" class="btn btn-primary">
        <img
          class="card-img-top col-2"
          src="{{movie.imageURL}}"
          alt="{{movie.title}} picture"
        />
        </a>
        {{/each}}
      </div>
    </div> --}}
  
</div>
