<div class="container text-center">
<h1>Reviews</h1>
{{> navlinks}}
</div>


<header class="bg-dark py-5 container">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">{{movie.title}}</h1>
                                <ul class="movie-info lead fw-normal text-white-50">
                                    <li> {{movie.stars}}</li>
                                    <li>Released {{movie.release_date}}</li>
                                    <li> Runtime: {{movie.runtime}}</li>
                                    <li> Rated: {{movie.mpaa}}</li>
                                    <li>Genre: {{movie.genre}}</li>
                                    <li> Directors: {{movie.directors}}</li>
                                    <li>Writen by: {{movie.writer}}</li>
                                    <li><a href="{{movie.movieURL}}">Official Homepage</a></li>
                                    <li><a href="{{movie.previewURL}}">Trailer</a></li>
                                </ul>
                    
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{{movie.imageURL}}" alt="movie poster"></div>
                    </div>
                </div>
            </header>


<div class="container mt-5 mb-3">
    <div class="d-flex justify-content-center row pb-5">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section ">
                <div class="bg-white  p-2">




                    <div class="mt-2">
                        {{#each movie.reviews as |review|}}
                         <div class="d-flex flex-row align-items-start"><img 
                    class="rounded-circle" style="width:40px; height:40px;" src={{review.user.profileUrl}}></div>
                        <p class="comment-text">{{review.user.name}}: {{review.content}}</p>
                        <p class="comment-text">{{review.rating}}</p>
                        {{/each}}
                    </div>


                </div>
     
                <div class="bg-light p-2">
                    {{#if loggedIn}}

                    <div class="d-flex flex-row align-items-start"><img 
                    class="rounded-circle" style="width:40px; height:40px;" src={{photo}}><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-danger btn-sm shadow-none review-button me-2" type="button">Post Review</button>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>












