<div class="container text-center">
<h1>Review Flix</h1>
</div>
{{> navlinks}}

<header class="bg-dark py-5 container">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">{{movie.title}}</h1>
                                <p class="movie-info lead fw-normal text-white-50">{{movie.stars}}</p>
                                <p class="movie-info lead fw-normal text-white-50">Released {{movie.release_date}}, Runtime: {{movie.runtime}}, Rated: {{movie.mpaa}}, Genre: {{movie.genre}}</p>
                                <p class="movie-info lead fw-normal text-white-50">Directors: {{movie.directors}}</p>
                                <p class="movie-info lead fw-normal text-white-50">Member Rating: </p>
                                <p class="movie-info lead fw-normal text-white-50">Writen by: {{movie.writer}}</p>
                                <p class="movie-info lead fw-normal text-white-50"><a href="{{movie.movieURL}}">Official Homepage</a></p>
                                <p class="movie-info lead fw-normal text-white-50"><a href="{{movie.previewURL}}">Trailer</a></p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{{movie.imageURL}}" alt="movie poster"></div>
                    </div>
                </div>
            </header>


<div class="container mt-5 mb-3">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                    </div>
                    <div class="mt-2">
                        {{#each movie.reviews as |review|}}
                        <p class="comment-text">{{review.content}}</p>
                        <p class="comment-text">{{review.rating}}</p>
                        {{/each}}
                    </div>
                </div>
                {{!-- <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                    </div>
                </div> --}}
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-danger btn-sm shadow-none review-button me-2" type="button">Post Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












